<div class = "card">
    <div class = "card-body">
        <form autocomplete="off" 
        novalidate
        >
        <fieldset>
            <div class = "form-group row">
                <label> User Name </label>
                <input type = "email" class = "form-control" placeholder = "Enter Usermame" >
            </div>
            <div class = "form-group row">
                <label> Password</label>
                <input type = "password" class = "form-control" placeholder = "Password">
            </div>
            <div class = "form-group">
                <button class = "btn btn-primary" type = "submit"> Login </button>
                <button class = "btn btn-light" (click) = "cancel()">Cancel</button>
            </div>
        </fieldset>
    </form>
    </div>
</div>