<div class = "card">
    <div class = "card-body">
        <form autocomplete="off" 
        novalidate
        >
        <fieldset>
            <div class = "form-group row">
                User Name
            </div>
            <div class = "form-group row">
                Password
            </div>
            <div class = "form-group">
                <button class = "btn btn-primary" type = "submit"> Login </button>
                <button class = "btn btn-light" (click) = "cancel()">Cancel</button>
            </div>
        </fieldset>
    </form>
    </div>
</div>