<mat-form-field class="example-form-field">
  <mat-label>Search by name or series</mat-label>
  <input matInput type="text" [(ngModel)]="comicSearchInput" (ngModelChange)="searchComics()">
  <button *ngIf="comicSearchInput" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<div class="card">
  <div class="card-header">
    Catalog
  </div>
  <div class="card-body"
       *ngIf="comics$">
       <div>This is displaying</div>
    <div class="list-group">
      <button class="list-group-item list-group-item-action rounded-0"
              *ngFor="let comic of comics$ | async"
              (click)="comicSelected(comic)">{{comic.issueNumber}}
      </button>
    </div>
  </div>
</div>
